body {
    margin: 0;
    background-color: #282E33;
    font-family: sans-serif;
}

button {
    display: flex;
    align-items: center;
    padding: 9px 14px 9px 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #3A87E0;
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: background-color .1s ease-in-out;
}

.button_type_close {
    background-color: transparent;
    padding: 5px 8px 6px 8px;
    transition: background-color .1s ease-in-out;
}

.button_type_close:hover {
    background-color: #efeff0;
}

button:hover {
    cursor: pointer;
    background-color: #3479c9;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 48px);
}

.container {
    padding: 32px;
    border-radius: 20px;
    background-color: #fff;
}

.container:nth-child(2) {
    margin-left: 20px;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header__text h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
}

.records-container {
    border: 1px solid #dedede;
    border-bottom: none;
    border-radius: 6px;
}

.hint {
    padding: 14px 14px 15px 14px;
    border-bottom: 1px solid #dedede;
    border-radius: 6px;
    min-width: 339px;
}

.record {
    display: flex;
    justify-content: space-between;
    padding: 6px 14px 6px 14px;
    border-bottom: 1px solid #dedede;
    min-width: 339px;
}

.record:nth-last-child(1) {
    border-radius: 6px;
}

.record__title {
    display: flex;
    align-items: center;
    width: 200px;
}

.record__title span {
    font-size: 20px;
    font-weight: 300;
    margin-right: 6px;
}

.record__controls {
    display: flex;
    margin-left: 16px;
}

.record__controls-form {
    margin-bottom: 0;
}

.form-container {
    margin-top: 8px;
}

.form-container__form {
    margin-bottom: 0;
}

.form-container__input-wrapper {
    display: flex;
    margin-bottom: 8px;
}

.form-container__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.form-container__select {
    width: 100%;
    padding: 8px 10px 8px 10px;
    border: 1px solid #dedede;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
}

.form-container__select:focus {
    outline: none;
    border: 1px solid #a9bed6;
    box-shadow: 0 0 2px 0 #2d81e2;
}

.form-container__button  {
    width: fit-content;
    margin-left: 8px;
    white-space: nowrap;
}

.form-container__button_disabled {
    background-color: #c8d1d8;
}

.form-container__button_disabled:hover {
    cursor: not-allowed;
    background-color: #c8d1d8;
}